@charset "UTF-8";
/* CSS Document */
body{
	background-color: rgba(136,170,130,1.00)
}


.playfair-display- {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}
#h1 {
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
text-align: center;
	color:rgba(255,255,255,1.00)
}

#container {
  width: 300px;
  border: 15px ridge rgba(255,151,61,1.00);
  padding: 50px;
  margin: 20px;
	margin: 0 auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: rgba(255,255,255,1.00)
}

#container2 {
	color:rgba(255,255,255,1.00)
}


#gallery {
	background-color: rgba(136,170,130,1.00)
}