@charset "UTF-8";
/* CSS Document */
body{
	background-color: #6EA546;
}


.playfair-display- {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}
#h1 {
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
text-align: center;
	color:#3C2362;
}

 img {
            max-width: 100%;
            height: auto;
            display: block;
        }

.flex-container {
  display: flex;
	flex-direction: column;
}


#container {
  width: 300px;
  border: 15px ridge #E8923E;
  padding: 50px;
  margin: 20px;
	margin: 0 auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: rgba(255,255,255,1.00);
}

#container2 {
	color:rgba(255,255,255,1.00);
}


#gallery {
	background-color: #6EA546;
}

#link1 {
	color: rgba(255,255,255,1.00);
}

#link2 {
	color: rgba(255,255,255,1.00);
}