@charset "UTF-8";
/* CSS Document */
body{
	background-color: #6EA546;
}


.playfair-display- {
	font-family: ivyora-display, sans-serif;
font-weight: 700;
font-style: normal;
  font-optical-sizing: auto;

}
#h1 {
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
text-align: center;
	color:#3C2362;
}

 img {
            max-width: 100%;
            height: auto;
            display: block;
        }

.flex-container {
  display: flex;
	flex-direction: column;
}


#container {
  width: 250px;
  border: 15px ridge #E8923E;
  padding: 50px;
  margin: 20px;
	margin: 0 auto;
	font-family: ivyora-display, sans-serif;
font-weight: 300;
font-style: normal;
	text-align: center;
	color: rgba(255,255,255,1.00);
}

/* Responsive design for larger screens */
@media (min-width: 768px) {
  #container {
    width: 60%;
    padding: 30px;
  }
}

/* Responsive design for very small screens */
@media (max-width: 400px) {
  #container {
    width: 90%;
    padding: 15px;
  }
}

#container2 {
	color:rgba(255,255,255,1.00);
}


#gallery {
	background-color: #6EA546;
}

#link1 {
	color: rgba(255,255,255,1.00);
}

#link2 {
	color: rgba(255,255,255,1.00);
}